.home-page-container {
  background-color: #152850;
  height: 100vh;
}
.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-card-heading {
  font-size: 36px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
}
.digital-card {
  height: 300px;
  width: 450px;
}
